.about {
    width: 80%;
    margin: 0 auto;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(51, 51, 51, 0.1);
    color: #fff;
}

h2 {
    text-align: center;
    font-size: 2rem;
    color: #45a29e;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.aboutColumns {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.aboutText,
.experience {
    flex: 1;
    background-color: #1f2833;
    padding: 15px;
    border-radius: 15px;
}

.aboutText p,
.experience p {
    font-size: 1.4rem;
    line-height: 1.6;
    text-align: justify;
}

.experience {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 1.8rem;
    color: #45a29e;
    margin-bottom: 10px;
}

strong {
    color: #45a29e;
}

@media (max-width: 675px) {
    .aboutColumns {
        flex-direction: column;
    }

    .aboutText p,
    .experience p {
        text-align: center;
        text-justify: inter-word;
    }
}