.about {
    width: 80%;
    margin: 0 auto;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(51, 51, 51, 0.1);
    color: #fff;
}

h2 {
    text-align: center;
    font-size: 2rem;
    color: #45a29e;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.aboutColumns {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.terminalContainer {
    background-color: #1e1e1e;
    border-radius: 10px;
    font-family: 'Fira Code', monospace;
    color: #d4d4d4;
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-size: 1.4rem;
}

.terminalHeader {
    background-color: #2e2e2e;
    padding: 8px 12px;
    display: flex;
    gap: 8px;
}

.btn {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.red {
    background-color: #ff5f56;
}

.yellow {
    background-color: #ffbd2e;
}

.green {
    background-color: #27c93f;
}

.terminalBody {
    padding: 20px;
    white-space: pre-wrap;
    line-height: 1.6;
}

.lineNumber {
    color: #888;
}

.command {
    color: #4ec9b0;
}

.output {
    margin-left: 30px;
    color: #ccc;
}

.terminatedMessage {
  color: #ff5f5f;
  font-style: italic;
  font-family: 'Fira Code', monospace;
}

.vimBox {
  font-family: 'Courier New', Courier, monospace;
  background-color: #1e1e1e;
  color: #9cdcfe;
  padding: 1rem;
  margin: 10px 0;
  overflow-x: auto;
  font-size: 14px;
  line-height: 1.5;
}

.vimBox strong {
    color: #4ec9b0;
}

.lineNumberVim {
  display: inline-block;
  width: 2ch;
  color: #5c6370;
  user-select: none;
}



