.projectsStyles{
    width: 90%;
    margin: auto;
    padding: 20px 0;
}

h2 {
    color: #45a29e;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btnProjects{
    display: inline-block;
    background-color: #25b6ac;
    color: #fff;
    padding: .8rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btnProjects:hover{
    background-color: #45a29e;
}

.sliderContainer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    justify-content: center; 
}


.projectCard {
    background-color: #1f2833;
    padding: 20px;
    border-radius: 20px;
    transition: transform 0.3s ease;
    text-align: center;
    position: relative;
}

.projectCard img {
    width: 100%;
    border-radius: 10px;
}

.projectCard h4 {
    color: #66fcf1;
    font-size: 24px;
    margin-top: 15px;
}

.projectCard p {
    font-size: 16px;
    color: #c5c6c7;
    margin-top: 15px;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.verMas{
    color: white;
    padding: .2rem 0;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.tags {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.tags span {
    background-color: #45a29e;
    color: #0b0c10;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
}

.iconContainer {
    position: absolute;
    top: 10px;
    right: 10px;
}

.githubIcon {
    width: 30px;
    height: 30px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    color: white;
}

.githubIcon:hover {
    opacity: 1;
}

@media (max-width: 768px) {
    .sliderContainer {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 480px) {
    .sliderContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}